<!DOCTYPE html>
<html >
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<title>Systems in Motion Organization Chart: </title>
	</head>
	<body>
<!-- 		<div ng-app="Template" ng-controller="TemplateCtrl">
			<h1>Systems in Motion Organization Chart: {{heading}}</h1>
			<ul>
			<li ng-repeat="tab in tabs">
				<a href="#" ng-click="setPageState(tab)">{{tab.name}}</a>
			</li>
			</ul>
		</div> -->
	<div ng-app="Department" ng-controller="DepartmentCtrl" >	

		<table>
		  <tr ng-repeat="x in Departments">
			<td>{{ x.name }}</td>
			<td>{{ x.parent }}</td>
		  </tr>
		</table>

		
	
		 <div id="form-title" class="form-title field">
			  <h2>Add A Department</h2>
		 </div>
		  
		  
		<form role="form" ng-submit="createDepartment(newDepartment)" novalidate>
			<div id="field1-container">
				<div>
					<label for="newDepartmentName">Department</label>
					<input type="text" id="newDepartmentName" ng-model="newDepartment.name" required="required">
				</div>
				<div>
					<label for="newDepartmentParent">Department Parent</label>
					<select ng-model="newDepartment.parent" ng-options="Department as Department.name for Department in Departments">
						<option value="" ng-if="foo">Select Department</option>
					</select>
				</div>
			</div>		   
				<div id="form-submit">
				<input type="submit" value="Submit">
			</div>

				<div id="form-cancel">
				<input type="button" ng-click="cancelCreating()" value="cancel">
				</div>
		</form>
	</div>
		</div>
	</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
<script src="webpages.js"></script>
<script src="Departments.js"></script>
</html>