<!DOCTYPE html>
<html >
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="style.css">
	<title>Systems in Motion Organization Chart: Employee Page</title>
	</head>
	<body>
<!-- 		<div ng-app="Template" ng-controller="TemplateCtrl">
			<h1>Systems in Motion Organization Chart: {{heading}}</h1>
			<ul>
			<li ng-repeat="tab in tabs">
				<a href="#" ng-click="setPageState(tab)">{{tab.name}}</a>
			</li>
			</ul>
		</div> -->
	<header>
		<h1>Systems In Motion Organization Chart: Employee Page</h1>
		
		<ul class="nav-bar">
		<li><a href="index.html">Main Page</a></li>
		<li><a href="Employees.html">Employee Page</a></li>
		<li><a href="Departments.html">Departments Page</a></li>
		<li><a href="Job Titles.html">Job Titles Page</a></li>
		</ul>
		<div><a href="#">Log In</a></div>
	</header>
	<div ng-app="Employee" ng-controller="EmployeeCtrl" >		   
		<section>
			<table>
				<tr ng-repeat="x in parsedEmployeeList track by $index">

				<td>{{ x.firstName }}</td>
				<td>{{ x.lastName }}</td>
				<td>{{ x.middleInitial }}</td>
				<td>{{ x.department.name }}</td>
				<td>{{ x.email }}</td>
				<td>{{ x.skype }}</td>
				<td>{{ x.jobtitle.name }}</td>
				<td><a href="#" ng-click="deleteEmployee(x)">delete</a></td>
				<td><a href="#" ng-click="editEmployee(x)">edit</a></td>
			  </tr>
			</table>
		</section>
		 <aside id="form-title" class="form-title field">
			  <h2>Add An Employee</h2>
		   
		<form class="pure-form pure-form-aligned" role="form" ng-submit="createEmployee()">
			<div id="field1-container">
				<div class="pure-control-group">
					<label for="newFirstName">First Name *</label>
					<input type="text" id="newFirstName" ng-model="newEmployee.firstName" required="required">
				</div>
				<div class="pure-control-group">
					<label for="newLastName">Last Name *</label>
					<input type="text" id="newLastName" ng-model="newEmployee.lastName" required="required">
				</div>
				<div class="pure-control-group">
					<label for="newMiddleInitial">Middle Initial</label>
					<input type="text" id="newMiddleInitial" ng-model="newEmployee.middleInitial" maxlength="1">
				</div>
				<div class="pure-control-group">
					<label for="newDepartment">Department *</label>
					<select ng-model="newEmployee.department" ng-options="Department.name for Department in parsedDepartmentList track by Department.name" required>
						<option value="" ng-if="defaultSelect == true">Select Department</option>
					</select>
				</div>
				<div class="pure-control-group">
					<label for="newSkype">Email *</label>
					<input type="text" id="newSkype" ng-model="newEmployee.email" required="required">
				</div>
				<div class="pure-control-group">
					<label for="newEmail">Skype *</label>
					<input type="text" id="newEmail" ng-model="newEmployee.skype" required="required">
				</div>
				<div class="pure-control-group">
					<label for="newJobTitle">Job Title *</label>
					<select ng-model="newEmployee.jobtitle" ng-options="JobTitle.name for JobTitle in parsedJobTitleList track by JobTitle.name" required>
						<option value="" ng-if="defaultSelect == true">Select Job Title</option>
					</select>
					<p>Fields marked with * are required</p>
				</div>
				</div>	
				<div class="pure-controls">
					<input class="pure-button pure-button-primary" type="submit" value="Submit">
					<input class="pure-button pure-button-primary" type="button" ng-click="cancelCreating()" value="Cancel">
				</div>
		</form>
		</aside>
	</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
<script src="webpages.js"></script>
<script src="Employee.js"></script>
</html>