<!DOCTYPE html>
<html ng-app="Template" ng-controller="TemplateCtrl">
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<title ng-bind="'Systems in Motion Organization Chart: ' + page"></title>
	</head>
	<body>
		<h1 ng-bind="'Systems in Motion Organization Chart: ' + heading"></h1>
		<ul>
		<li ng-repeat="tab in tabs">
			<a href="#" ng-click="setPageState(tab)">{{tab.name}}</a>
		</li>
		</ul>
	</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
<script src="webpages.js"></script>
</html>